<table class="table table-bordered table-hover">
 <thead></thead>  
 <tbody data-link="row">
 <tr>
  <td style="width:10%">
    {{id}}
  </td>
  <td>
    <span class="fa fa-wrench"></span>  {{ name}}
  </td>
  <td>
    <button class="btn btn-xs btn-info">Edit</button>
  </td>
  <td> 
  
  </td>
  </tr>
  </tbody>
</table>
