<table class="table table-bordered table-hover">
 <thead></thead>  
 <tbody data-link="row">
 <tr style="width: 100vw">
  <td style="width:10vw">
    {{id}}
  </td>
  <td style="width:30vw"> 
    <span class="fa fa-wrench"></span>  {{ name}}
  </td>
  <td style="width:40vw"> 
    <button class="btn btn-xs btn-info">Edit</button>
  </td>
  <td> 
  
  </td>
  </tr>
  </tbody>
</table>
